<div class="card mb-2">
  <img src="https://baconmockup.com/320/320"
       alt="Doodle"
       class="rounded-top" />
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h6>@Teriyakigod</h6>
          <i class="bi bi-calendar"></i>
          <span class="text-muted">15.05.2025</span>
        </div>
        <div class="d-flex align-items-center gap-2">
          <button type="button" class="btn btn-outline-primary">
            <span>132</span>
            <i class="bi bi-egg"></i>
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <i class="bi bi-share"></i>
          </button>
        </div>
      </div>
    </li>
    {% comment %}
        <li class="list-group-item">
            <p>Comment section</p>
        </li>
    {% endcomment %}
  </ul>
</div>
